@import url("/css/burger.css") screen and (min-width: 400px) and (max-width: 767px);
@import url("/css/burger.css") screen and (min-width: 320px) and (max-width: 399px);

/*Global Settings*/
@-ms-viewport{
    width: device-width;
}
@font-face{
	font-family: "Raleway";
	src: url("/fonts/Raleway/static/Raleway-SemiBold.ttf");
}

/*dotted outline on objects when clicked on mobile*/
*:focus {
    outline: 0 !important;
}
body {
	background-color: #312020;
	color: #EDF2F4;
	margin: 0px;
	overflow-x: hidden;
}

/*Navigation Bar */
.logo img{
	padding-left: 20px;
	max-height: 60px;
	max-width: 200px;
}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 7vh;
	background-color: #EDF2F4;
	padding-right: 3%;
	font-family: "Raleway";
}
.nav-links{
	display: flex;
	background-color: #EDF2F4;
	justify-content: space-around;
}
.nav-links li{
	list-style: none;
	margin: 10px;
}
.nav-links a { 
	position: relative;
	color:#181E25;
	text-decoration: none;
	text-transform: uppercase;
	font-size: large;
	letter-spacing: 1px;
	transition: 0.5s;
}
.nav-links li a::after{
	position: absolute;
	content: "";
	width: 100%;
	height: 3px;
	top: 100%;
	left: 0;
	background: #b11313;
	transition: transform 0.5s;
	transform: scaleX(0);
	transform-origin: right;
}
.nav-links li a:hover::after{
	transform: scaleX(1);
	transform-origin: left;
}

.hamburger {
	display: none;
}

/*Main HTML*/


/*Media Queries*/
/*Ultra Wide*/
@media (min-width: 2400px){
	
}
/*Large Screens*/
@media (min-width: 1440px){
	

}
/*iPad*/
@media (min-width: 768px) and (max-width: 950px){
	
	nav{
		min-height: 6vh;
	}
	.logo {
		padding-top: 5px;
		z-index: 1;
	}
	.nav-links {
		width: 60%;
		padding-right: 5px;
	}
	body {
		overflow-x: hidden;
	}
	
}
/*iPhone Plus*/
@media (min-width: 400px) and (max-width: 767px) {
	
	body {
		overflow-x: hidden;
	}
	nav{
		position: fixed;
		flex-direction: row-reverse;
		bottom: 0px;
		width: 100%;
	}
	.logo {
		padding-top: 5px;
		padding-right: 10px;
		z-index: 1;
	}
	.nav-links{
		position: fixed;
		left: 0px;
		height: 45vh;
		bottom: 5vh;
		background-color: #EDF2F4;
		display: flex;
		flex-direction: column-reverse;
		align-items: left;
		width: 100%;
		transform: translateY(100%);
		transition: transform 0.5s ease-in;
	}
	.nav-links li {
		opacity: 0;
	}
	.hamburger{
		display: block;
		padding-bottom: 10px;
	}
	.nav-active {
		transform: translateX(0%);
	}
	@keyframes navLinkFade {
		from{
			opacity: 0;
			transform: translateX(50px);
		}
		to{
			opacity: 1;
			transform: translateX(0px);
		}
	}
	
}
/*iPhone*/
@media (min-width: 320px) and (max-width: 399px) {
	
	body {
		overflow-x: hidden;
	}
	nav{
		position: fixed;
		flex-direction: row-reverse;
		bottom: 0px;
		width: 100%;
		max-height: 5vh;
	}
	.logo {
		padding-top: 5px;
		padding-right: 10px;
		z-index: 1;
	}
	.nav-links{
		position: fixed;
		left: 0px;
		height: 45vh;
		bottom: 5vh;
		background-color: #EDF2F4;
		display: flex;
		flex-direction: column-reverse;
		align-items: left;
		width: 100%;
		transform: translateY(100%);
		transition: transform 0.5s ease-in;
	}
	.nav-links li {
		opacity: 0;
	}
	.hamburger{
		display: block;
		padding-bottom: 10px;
	}
	.nav-active {
		transform: translateX(0%);
	}
	@keyframes navLinkFade {
		from{
			opacity: 0;
			transform: translateX(50px);
		}
		to{
			opacity: 1;
			transform: translateX(0px);
		}
	}
	
}



